body {
    width: 1106px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

header {
    
}

.nav_section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_link {
    text-decoration: none;
    color:#00997a;
    font-weight: bold;
}

.photoapp_link {
    margin-left: 50px;
    text-decoration: none;
    color: #00997a;
    font-weight: bold;
}

.design_link {
    margin-left: 50px;
    text-decoration: none;
    color: #00997a;
    font-weight: bold;
}

.download_link {
    margin-left: 50px;
    text-decoration: none;
    color: #00997a;
    font-weight: bold;
}

.main_text {
    background-color: #f5f5ef;
    padding-top: 20px;
    padding-bottom: 60px;
}

.main_picture {
    display: block;
    width: 100%;
    height: 500px;
    
}

h1 {
    text-align: center;
    margin: 0 0 20px 0;
}

p {
    text-align: center;
}

.second_paragraph {
    margin-bottom: 30px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #f5f5ef;
}

.button_1 {
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #00997a;
    color: white; 
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 15px 35px;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

